
ul.note {
    margin-top: 2rem;
}
.post-header {
    padding-top: 1rem;
    margin-bottom: 3rem;
}
.post-footer {
    padding: 6rem 0;
}
.post-date {
    color: var(--color-text-grey);
}
.post-tags {
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
}
.post-tags li {
    margin-right: .5rem;
}
.post-tags a {
    padding: .25rem .5rem;
    display: block;
    background: var(--color-light);
    border-radius: 2px;
}
.post-tags a:hover {
    background: var(--color-black);
    color: var(--color-white);
}


/*
p + p {
  text-indent: 2em;
  margin: 0;
}
*/

.post-weather {
    color: var(--color-text-grey);
    position: relative;
    top: -3rem; /* snug it up to the header */
    left: 5px;
    display: flex;
}

.post-weather div {
  padding-top: 8px;
}

figure.featured-image-container {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 2rem;
}

.post .status {
  font-size: 0.8rem;
  padding: 10px;
  margin-bottom: 20px;
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light);
}
