# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/public/media/*
!/public/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache/Accounts/Sessions Files
# ---------------

/storage/*
!/storage/cache/index.html
!/storage/accounts/index.html
!/storage/sessions/index.html

# License
# ---------------

/site/config/.license

/Kirby.bbprojectd
