.note-excerpt-date a {
  text-decoration: underline;
}

.post-header {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.post-footer {
  clear: both;
  padding: 6rem 0;
}
.post-date {
  color: var(--color-text-grey);
}
.post-tags {
  display: flex;
  margin-bottom: 1.5rem;
}
.post-tags li {
  margin-right: .5rem;
}
.post-tags a {
  padding: .5rem 1rem;
  display: block;
  background: var(--color-light);
}
.post-tags a:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.footnotes {
  font-size: 0.8em;
}
